MyStateMachine-okqjbe41g.asl.yaml
Comment: A description of my state machine
StartAt: SerializeImageData
States:
  SerializeImageData:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      FunctionName: >-
        arn:aws:lambda:us-east-1:895413576638:function:serializeImageData:$LATEST
      Payload.$: $
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Next: ImageClassifier
  ImageClassifier:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: arn:aws:lambda:us-east-1:895413576638:function:ImageClassifier:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Next: FilterLowConfidenceInferences
  FilterLowConfidenceInferences:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      FunctionName: >-
        arn:aws:lambda:us-east-1:895413576638:function:FilterLowConfidenceInferences:$LATEST
      Payload.$: $
    End: true
TimeoutSeconds: 1200
